.aboutContainer{
    align-items:center;
    justify-content:center;
    text-align:center;
    font-size:25px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      -webkit-font-smoothing: antialiased;
}

.quote{
    align-self:center;
    margin-top:80px;
}

.paddingLine{

    height:2px;
    width:80%;
    border-radius:8px;
    margin:80px auto;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
    0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);

}
.body-container{

    width:90%;
    margin:10px auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
          -webkit-font-smoothing: antialiased;
    text-align:center;

}
.about-sub-container{

    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.about-containers{

    display:flex;
    flex-direction:column;
    align-items:center;

}
.about-containers-title{
    font-size:13px;
    margin-top:10px;
    margin-bottom:10px;
}
.body-container-title{
    font-size: 43px;
    color: #25408f;
    margin-bottom:20px;
}
.products-link{
   color: white;
   background-color: #24408f;
   border-color: #24408f;
   cursor:pointer;
   width:200px;
   margin:0 auto;
   margin-top:80px;
   padding:6px 18px;
}
.link-color{
    color:white;
}