.mobile-menu{
    position:absolute;
    z-index:99999999;
    background-color:white;
    width:200px;
    height:89.3vh;
    right:0;

}
.burgerMenuOpen{
    border-radius:8px;
    width:40px;
    height:40px;
    cursor:pointer;
}
.burgerMenuOpen div{
    width:100%;
    height:6px;
    background:#565656;
    margin-top:6px;
    border-radius:8px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
        0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

.burgerMenuClose{
    display:none;
    width:40px;
    height:40px;
    cursor:pointer;
    position:relative;

}

.burgerMenuCloseXOne{
    background-color:red;
    width:100%;
    height:6px;
    border-radius:8px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
    0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    transform: rotate(45deg);
    position:absolute;
    top:20px;
}
.burgerMenuCloseXTwo{
    background-color:red;
    width:100%;
    height:6px;
    border-radius:8px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
    0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    transform: rotate(-45deg);
    position:absolute;
    top:20px;

}

.ul-container{


    height:90%;
}
.li-blocks{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  list-style:none;
  margin:10px 0;
  padding:10px;

}

@media only screen and (min-width: 715px) {
.mobile-menu{
    display:none;
}
.burgerMenuOpen{
    display:none;
}
.burgerMenuClose{
    display:none;
}

}