.signup-container{

width:80%;
margin:40px auto;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
}

.signup-form{
margin:30px auto;

}
.signup-item{

    display:flex;
    justify-content:center;
    align-items:center;
}
.signup-item-select{

    width:80%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}
.signup-input-select{
    width:60%;
    font-size:20px;
    border-radius:8px;
    border:none;
    padding:5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
                0 2px 2px rgb(0 0 0 / 6%),
                0 0 2px rgb(0 0 0 / 7%);
     margin-top:10px;
     margin-bottom:10px;
     cursor:pointer;
}

.signup-input{
    padding:5px;
    border-radius:8px;
    border:none;
    width:80%;
    margin:10px auto;
    font-size:20px;
       box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
            0 2px 2px rgb(0 0 0 / 6%),
            0 0 2px rgb(0 0 0 / 7%);
}


.signup-button{
    border-radius:8px;
    padding:6px 18px;
    color:white;
    background-color: #24408f;
    border:2px white;
    font-size:20px;
    cursor:pointer;
    margin-top:20px;
}
.signup-item-weight{

    display:flex;
    margin:0 auto;
    justify-content:space-around;
    align-items:center;
    width:90%;
}
.signup-input-weight{
    padding:5px;
    border-radius:8px;
    border:none;
    width:60%;

    font-size:20px;
       box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
            0 2px 2px rgb(0 0 0 / 6%),
            0 0 2px rgb(0 0 0 / 7%);
}
.weight-label{

    font-size:18px;
    font-weight:700;
}
.select-label{
    font-size:18px;
    font-weight:700;
    margin-bottom:10px;
}
.calf-added-message{
    text-align:center;
    background-color:green;
    color:white;
    padding:20px;
    border-radius:8px;
}

.show-all-calves{
    text-align:center;
    background-color: #24408f;
    color:white;
    padding:20px;
    margin:10px auto;
    border-radius:8px;

}

.signup-errors-show{
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      -webkit-font-smoothing: antialiased;
    border-radius:8px;
    background-color:red;
    padding:10px;
}

.signup-errors-hide{
    display:none;
}



