<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Accept a payment</title>
    <meta name="description" content="Make a 25 USD donation to the Rural Data Mining Collective today " />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/donate.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/javascript/checkout.js" defer></script>
</head>
<body>
<!-- Display a payment form -->
<div class="header">
    <h2 class="headerTitle">Rural Data Mining Collective</h2>
    <h2 class="titleSmall">R.D.M.C</h2>
    <a href="http://localhost:5000/donate">
        <h2>Donate</h2>
    </a>
</div>
    <h1>THANK YOU FOR YOU DONATION</h1>
</body>
</html>