<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Elliott Data Mining</title>
  <meta name="description" content="Home page of the Rural Data Mining collective" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/home.css" />
</head>
<header class="header">
  <a href="/">
    <h2 class="headerTitle">Elliott Data Mining </h2>
  </a>
  <a href="/">
    <h2 class="titleSmall">E.D.M</h2>
  </a>

  <div class="linkContainer">
    <a href="/donate">
      <h2>Donate</h2>
    </a>
    <a href="/about">
      <h2>About</h2>
    </a>
  </div>

</header>
<body>
<div style="position:relative">
  <img src="../images/homeImage.jpg" class="home-image"/>
  <div class="title-container">
    <h1 class="title-container-font">
      BIG DATA FOR SMALL COMMUNITIES
    </h1>
    <div class="title-subcontainer">
      <a href="/donate">
        <h3 class="h3-title">Donate</h3>
      </a>

      <a href="/about">
        <h3 class="h3-title">About</h3>
      </a>

    </div>
  </div>

</div>
</body>
</html>