<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Elliott Enterprise Software</title>
    <meta name="description" content="Find feed available across Canada" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/mobileNav.css" />
    <script src="/javascript/mobileNav.js" defer></script>

</head>

<body>
<header class="header">
    <a href="/">
        <h2 class="headerTitle">Elliott Enterprise Software </h2>
    </a>
    <a href="/">
        <h2 class="titleSmall">ELLIOTT SOFTWARE</h2>
    </a>
    <div id="burgerOpen" class="burgerMenuOpen">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div id="burgerClose" class="burgerMenuClose">
        <div class="burgerMenuCloseXOne"></div>
        <div class="burgerMenuCloseXTwo"></div>
    </div>

    <div class="linkContainer">
        <a href="/donate">
            <h2>Contribute</h2>
        </a>
        <a href="/login">
            <h2>Login</h2>
        </a>
        <a href="/about">
            <h2>Products</h2>
        </a>
    </div>

</header>
<div style="position:relative">
    <div id="mobileNavMenu" class="mobile-menu">
        <ul class="ul-container">
            <a href="/donate">
                <li class="li-blocks">Contribute</li>
            </a>
            <a href="/login">
                <li class="li-blocks">Login</li>
            </a>
            <a href="/products">
                <li class="li-blocks">Products</li>
            </a>

        </ul>

    </div>
</div>
<div class="signup-container">
    <form th:action="@{/signup}" method="post" class="signup-form" th:object="${users}">
        <h1>Sign up and contribute!</h1>
        <div class="form-example">
            <label for="username">Username: </label>
            <input type="text" th:field="*{username}" name="username" id="username" required>
        </div>
        <div class="form-example">
            <label for="email">Email: </label>
            <input type="email" name="email" th:field="*{email}" id="email" required>
        </div>
        <div class="form-example">
            <label for="password">Password: </label>
            <input type="password" name="password" th:field="*{password}" id="password" required>
        </div>
        <div class="form-example">
            <input type="submit" value="Sign up!">
        </div>
    </form>

</div>



</body>
</html>